@import '../../assets/scss/variables';

#game-details-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    #main-info{
        font-weight: bold;
        margin-right: 20px;
    }
    svg{
        width: 30px;
        height: 30px;
        cursor: pointer;
    }
    .non-starred{
        color: rgba($bg-main,0.2);
    }
    .special-text{
        color: $bg-main;
    }
}